.focus {
  background-color: #ffdd00;
}
.traffic-update-wiget {
  border: 0.7rem solid green;
}

.acct-balance-info {
  padding-top: 10%;
  padding-bottom: 10%;
}

.automatic-payment-info {
  background-color: rgb(215, 215, 215);
  padding: 5%;
}
