<div id="header-page" class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Home</h3>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Purpose</h3>
      <p class="govuk-body-s govuk-!-font-size-14">
        The proposed landing page for the Dartford Crossing charge. The "Pay or
        challenge a PCN" button goes to Package B. The Traffic Update panel has
        live information.
      </p>
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Variations and additional notes
      </h3>
      <p class="govuk-body-s govuk-!-font-size-14 govuk-!-margin-bottom-1">
        For the interactive prototype, select what page the 'Confirm' button
        (below) takes you to next:
      </p>
      <div class="govuk-form-group">
        <select class="govuk-select selecct -box" id="sort" name="sort">
          <option value="published" class="option-box">
            Have an account,but no outstanding charge
          </option>
          <option value="updated" selected class="option-box">
            Have an account,but outstanding charge
          </option>
          <option value="views" class="option-box">
            Donot have an account,but no outstanding charge
          </option>
          <option value="comments" class="option-box">
            Donot have an account,but have an outstanding charge
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<!---header-->
<app-header></app-header>

<!---header end-->
<!---body Information-->
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="link-group">
      <a href="#" class="govuk-link text-spacing">Login</a>
      <a href="#" class="govuk-link">createaccount</a>
    </div>
  </div>
</div>

<main role="main" id="content" class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          Dartford Crossing <br />
          Dart Charge
        </h1>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s govuk-!-font-size-16">
        If you have used the Dartford Crossing and would like to manage your
        payments, please enter your vehicle registration number below.
      </p>
      <p class="govuk-body-s govuk-!-font-size-16">
        You have until midnight the day after you cross to pay for a crossing.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="trafix-box">
        <h3>Traffic Update</h3>
        <p>There are currently no delays northbound or southbound.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">test</div>
    <div class="govuk-grid-column-one-third">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Charges (6am-10pm)
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Type of vehicle</th>
            <th scope="col" class="govuk-table__header">One-off payment</th>
            <th scope="col" class="govuk-table__header">Automatic payments</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              Motorcycle, mopeds, quad bikes
            </th>
            <td class="govuk-table__cell">Free</td>
            <td class="govuk-table__cell">Free</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Next 33 weeks</th>
            <td class="govuk-table__cell">£109.80 per week</td>
            <td class="govuk-table__cell">£109.80 per week</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total estimated pay</th>
            <td class="govuk-table__cell">£4,282.20</td>
            <td class="govuk-table__cell">£109.80 per week</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<!----body information end-->
