.link-group {
  text-align: right;
  padding: 1rem;
}

.text-spacing {
  margin-right: 1rem;
}
.trafix-box {
  border: 0.5rem solid #2e801a;
  box-sizing: border-box;
  padding-left: 1rem;
}
.mini {
  margin: 0 0 15px 0;
}
.one-row {
  float: left;
}
.control-right {
  margin-right: 3.5rem;
}
.banner-wrapper {
  margin-left: 3rem;
}
