.link-group {
  text-align: right;
  padding: 1rem;
}

.text-spacing {
  margin-right: 1rem;
}
.trafix-box {
  border: 0.5rem solid #2e801a;
  box-sizing: border-box;
  padding-left: 1rem;
}
.mini {
  margin: 0 0 15px 0;
}
.one-row {
  float: left;
}
.control-right {
  margin-right: 3.5rem;
}
.banner-wrapper {
  margin-left: 3rem;
}
.selecct-box,
.option-box {
  max-width: 100%;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  box-sizing: border-box;
  /* outline: none; */
  border: 1px solid #212324;
  font-weight: normal;
  font-size: 1rem;
}

@media (max-width: 400px) {
  .option-box {
    font-size: 0.5rem;
  }
}
